
.swipe-indicator {
    text-align: right;
    margin-top: 15px;
    padding-right: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #c6dee2;
    animation: blinkSwipe 1.2s infinite;
}

/* Blink Effect */
@keyframes blinkSwipe {
    0% { opacity: 1; transform: translateX(0); }
    50% { opacity: 0.4; transform: translateX(10px); }
    100% { opacity: 1; transform: translateX(0); }
}

.success-box {
    background: 053142;
    /* border-left: 6px solid #28a745; */
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    animation: fadeIn 0.6s ease-in-out;
}

.success-box h3 {
    color: #28a745;
    font-weight: 700;
}

.success-box blockquote {
    font-style: italic;
    margin-top: 15px;
    color: #e9e7e7;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 1; transform: translateY(0);}
}
